DEBUG=True
SECRET_KEY=change-me

PAYNOW_ENABLED=False
PAYNOW_TEST_MODE=True
PAYNOW_INTEGRATION_ID=
PAYNOW_INTEGRATION_KEY=
PAYNOW_RESULT_URL=http://localhost:8000/api/listings/paynow-result/
PAYNOW_RETURN_URL=http://localhost:3000

FIREBASE_PUSH_ENABLED=False
FIREBASE_CREDENTIALS_PATH=
FIREBASE_CREDENTIALS_JSON=
FIREBASE_PUSH_DRY_RUN=True

FRONTEND_URL=http://localhost:3000
AUTH_ALLOWED_REDIRECT_PREFIXES=http://localhost:3000,exp://,bitesnvibes://,bitesapp26://,http://localhost,http://127.0.0.1

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

EMAIL_HOST=mail.bitesnvibes.co.zw
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=accounts@bitesnvibes.co.zw
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=Bites And Vibes <accounts@bitesnvibes.co.zw>
